1) Write a python program to display all the header tags from wikipedia.org.

Ans :-

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [3]:
soup = BeautifulSoup(url.text,'html.parser')

In [4]:
header_tags = []

for i in soup.find_all(['h1','h2','h3']):
    header_tags.append(i.text)
    
header_tags

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 '\nSearch\n']

2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

Ans :-

In [5]:
from bs4 import BeautifulSoup
import requests

In [6]:
url = requests.get('https://www.imdb.com/list/ls055592025/?sort=user_rating,desc&st_dt=&mode=detail&page=1')

In [7]:
soup = BeautifulSoup(url.content, 'html.parser')

In [8]:
movie_name = []

movie_rating = []

year = []

In [9]:
movie_data = soup.find_all('div',class_="lister-item mode-detail")

In [10]:
for i in movie_data:
    name = i.h3.a.text
    movie_name.append(name)
    
movie_name

['The Shawshank Redemption',
 'The Godfather',
 "Schindler's List",
 'The Godfather: Part II',
 'The Lord of the Rings: The Return of the King',
 '12 Angry Men',
 'Pulp Fiction',
 'Forrest Gump',
 'Il buono, il brutto, il cattivo',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 "It's a Wonderful Life",
 'The Green Mile',
 'The Silence of the Lambs',
 'Saving Private Ryan',
 'Star Wars',
 'The Pianist',
 'Gladiator',
 'Apocalypse Now',
 'Psycho',
 'Casablanca',
 'Rear Window',
 'City Lights',
 'Braveheart',
 'Raiders of the Lost Ark',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Amadeus',
 'Sunset Blvd.',
 'The Great Dictator',
 'Good Will Hunting',
 'Taxi Driver',
 'A Clockwork Orange',
 '2001: A Space Odyssey',
 'Lawrence of Arabia',
 'Citizen Kane',
 "Singin' in the Rain",
 'To Kill a Mockingbird',
 'Vertigo',
 'North by Northwest',
 'The Apartment',
 'Double Indemnity',
 'Jurassic Park',
 'Unforgiven',
 'Gone with the Wind',
 'Chinatown',
 'Some Like It Hot',
 'Raging Bull',
 'The Bridge on the River Kwai',
 'The Treasure of the Sierra Madre',
 'Jaws',
 'The Grapes of Wrath',
 'Fargo',
 'The Exorcist',
 'The Wizard of Oz',
 'Rocky',
 'The Sound of Music',
 'Dances with Wolves',
 'The Deer Hunter',
 'Platoon',
 'Ben-Hur',
 'On the Waterfront',
 'Network',
 'The Third Man',
 'The Best Years of Our Lives',
 'It Happened One Night',
 'All Quiet on the Western Front',
 'Mr. Smith Goes to Washington',
 'The Graduate',
 'Rain Man',
 'Doctor Zhivago',
 'A Streetcar Named Desire',
 'Annie Hall',
 'Butch Cassidy and the Sundance Kid',
 'High Noon',
 'Patton',
 'The Maltese Falcon',
 'Titanic',
 'E.T. the Extra-Terrestrial',
 'The Searchers',
 'The Philadelphia Story',
 'Midnight Cowboy',
 'My Fair Lady',
 'Bonnie and Clyde',
 'Stagecoach',
 'A Place in the Sun',
 'The French Connection',
 'Rebel Without a Cause',
 'The African Queen',
 'Nashville',
 'Mutiny on the Bounty',
 'West Side Story',
 'Close Encounters of the Third Kind',
 'Shane',
 'Giant',
 'From Here to Eternity',
 'Wuthering Heights',
 'Yankee Doodle Dandy',
 'American Graffiti',
 'Terms of Endearment',
 'An American in Paris']

In [11]:
for i in movie_data:
    rating = i.find('span',class_="ipl-rating-star__rating").text
    movie_rating.append(rating)
    
movie_rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '9',
 '8.9',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.4',
 '7.4',
 '7.2']

In [12]:
for i in movie_data:
    year_of_release = i.h3.find('span',class_="lister-item-year text-muted unbold").text.replace('(','').replace(')','')
    year.append(year_of_release)
    
year

['1994',
 '1972',
 '1993',
 '1974',
 '2003',
 '1957',
 '1994',
 '1994',
 '1966',
 '1990',
 '1975',
 '1946',
 '1999',
 '1991',
 '1998',
 '1977',
 '2002',
 '2000',
 '1979',
 '1960',
 '1942',
 '1954',
 '1931',
 '1995',
 '1981',
 '1964',
 '1984',
 '1950',
 '1940',
 '1997',
 '1976',
 '1971',
 '1968',
 '1962',
 '1941',
 '1952',
 '1962',
 '1958',
 '1959',
 '1960',
 '1944',
 '1993',
 '1992',
 '1939',
 '1974',
 '1959',
 '1980',
 '1957',
 '1948',
 '1975',
 '1940',
 '1996',
 '1973',
 '1939',
 '1976',
 '1965',
 '1990',
 '1978',
 '1986',
 '1959',
 '1954',
 '1976',
 '1949',
 '1946',
 '1934',
 '1930',
 '1939',
 '1967',
 '1988',
 '1965',
 '1951',
 '1977',
 '1969',
 '1952',
 '1970',
 '1941',
 '1997',
 '1982',
 '1956',
 '1940',
 '1969',
 '1964',
 '1967',
 '1939',
 '1951',
 '1971',
 '1955',
 '1951',
 '1975',
 '1935',
 '1961',
 '1977',
 '1953',
 '1956',
 '1953',
 '1939',
 '1942',
 '1973',
 '1983',
 '1951']

In [13]:
import pandas as pd

df =pd.DataFrame({'Name of movie':movie_name,'Movie Rating':movie_rating,'Year of release':year})

In [14]:
df

                                    Name of movie Movie Rating Year of release
0                        The Shawshank Redemption          9.3            1994
1                                   The Godfather          9.2            1972
2                                Schindler's List            9            1993
3                          The Godfather: Part II            9            1974
4   The Lord of the Rings: The Return of the King            9            2003
..                                            ...          ...             ...
95                              Wuthering Heights          7.6            1939
96                            Yankee Doodle Dandy          7.6            1942
97                              American Graffiti          7.4            1973
98                            Terms of Endearment          7.4            1983
99                           An American in Paris          7.2            1951

[100 rows x 3 columns]

3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

Ans :-

In [15]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [16]:
url = requests.get('https://www.imdb.com/list/ls020165734/?sort=user_rating,desc&st_dt=&mode=detail&page=1')

In [17]:
soup = BeautifulSoup(url.content, 'html.parser')

In [18]:
movie_name = []

movie_rating = []

year = []

In [19]:
ind_movie_data = soup.find_all('div',class_="lister-item mode-detail")

In [20]:
for i in ind_movie_data:
    name = i.h3.a.text
    movie_name.append(name)
    
movie_name

['Heerak Rajar Deshe',
 'Nayakan',
 'Galpa Holeo Satyi',
 'Apur Sansar',
 'Visaaranai',
 'Iruvar',
 'Golmaal',
 'Dangal',
 'Guide',
 'Jaane Bhi Do Yaaro',
 'Masoom',
 'Pather Panchali',
 'Swades: We, the People',
 'Satya',
 'Aparajito',
 'Nayak',
 'Mahanagar',
 'Pyaasa',
 'Gangs of Wasseypur',
 'Queen',
 'Dilwale Dulhania Le Jayenge',
 'Roja',
 'Do Bigha Zamin',
 'Shwaas',
 'Deool',
 'Lagaan: Once Upon a Time in India',
 'Masaan',
 'Sholay',
 'Maqbool',
 'Charulata',
 'Saaransh',
 'Sarfarosh',
 'Anand',
 'Ardh Satya',
 'Garm Hava',
 'Pratidwandi',
 'Padosan',
 'Kanchivaram',
 'Ugly',
 'Dev.D',
 'Agantuk',
 'Gulaal',
 'Dor',
 'Kabuliwala',
 'Jalsaghar',
 'The Cloud-Capped Star',
 'Mr. and Mrs. Iyer',
 'Abhijaan',
 'Unnal Mudiyum Thambi',
 'Calcutta 71',
 'Nagarik',
 'Bari Theke Paliye',
 'Hatey Bazarey',
 'Hansuli Banker Upakatha',
 'The Lunchbox',
 'Ankur',
 'Awaara',
 'Mother India',
 'Kaagaz Ke Phool',
 'Utsab',
 'Bagh Bahadur',
 'Dil Se..',
 'Water',
 'Unishe April',
 'Dweepa',
 'Manorama: Six Feet Under',
 'Court',
 'The Japanese Wife',
 'Ghatashraddha',
 'Bandit Queen',
 'Shatranj Ke Khilari',
 'Ghare-Baire',
 'Jugnu',
 'Chorus',
 'Sindhu Bhairavi',
 'Ajantrik',
 'Subarnarekha',
 'Elippathayam',
 'Kharij',
 'Patang',
 'Tahader Katha',
 'Siddeshwari',
 'Firaaq',
 'Bhuvan Shome',
 'Swayamvaram',
 'Titas Ekti Nodir Naam',
 'Khandhar',
 'Kathapurushan',
 'Pulijanmam',
 'Thai Saheba',
 'Kabhie Kabhie',
 'Shaheed',
 'Mirza Ghalib',
 'Amma Ariyan',
 'Samadhi',
 'Jukti, Takko Aar Gappo',
 'Uski Roti',
 'Mela',
 'Dakhal',
 'Naya Daur']

In [21]:
for i in ind_movie_data:
    rating = i.find('span',class_="ipl-rating-star__rating").text
    movie_rating.append(rating)
    
movie_rating

['8.9',
 '8.7',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.4',
 '7.4',
 '7.4',
 '7.4',
 '7.4',
 '7.4',
 '7.3',
 '7.3',
 '7.3',
 '7.3',
 '7.3',
 '7.3',
 '7.3',
 '7.3',
 '7.2',
 '7.2',
 '7.2',
 '7.1',
 '7',
 '7',
 '6.9',
 '6.7',
 '6.3',
 '5.5']

In [22]:
for i in ind_movie_data:
    year_of_release = i.h3.find('span',class_="lister-item-year text-muted unbold").text.replace('(','').replace(')','')
    year.append(year_of_release)
    
year

['1980',
 '1987',
 '1966',
 '1959',
 '2015',
 '1997',
 '1979',
 '2016',
 '1965',
 '1983',
 '1983',
 '1955',
 '2004',
 '1998',
 '1956',
 '1966',
 '1963',
 '1957',
 '2012',
 '2013',
 '1995',
 '1992',
 '1953',
 '2004',
 '2011',
 '2001',
 '2015',
 '1975',
 '2003',
 '1964',
 '1984',
 '1999',
 '1971',
 '1983',
 '1974',
 '1970',
 '1968',
 '2008',
 '2013',
 '2009',
 '1991',
 '2009',
 '2006',
 '1961',
 '1958',
 '1960',
 '2002',
 '1962',
 '1988',
 '1971',
 '1977',
 '1958',
 '1967',
 '1962',
 '2013',
 '1974',
 '1951',
 '1957',
 '1959',
 '2000',
 '1989',
 '1998',
 'I 2005',
 '1994',
 '2002',
 '2007',
 '2014',
 '2010',
 '1977',
 '1994',
 '1977',
 '1984',
 '1947',
 '1975',
 '1985',
 '1958',
 '1965',
 '1982',
 '1982',
 '1993',
 '1992',
 '1990',
 '2008',
 '1969',
 '1972',
 '1973',
 '1984',
 '1996',
 '2006',
 '1997',
 '1976',
 '1948',
 '1954',
 '1986',
 '1950',
 '1974',
 '1970',
 '1948',
 '1982',
 '1978']

In [23]:
indmovie_df = pd.DataFrame({'Name of movie':movie_name,'Movie Rating':movie_rating,'Year of release':year})
indmovie_df

             Name of movie Movie Rating Year of release
0       Heerak Rajar Deshe          8.9            1980
1                  Nayakan          8.7            1987
2        Galpa Holeo Satyi          8.6            1966
3              Apur Sansar          8.5            1959
4               Visaaranai          8.5            2015
..                     ...          ...             ...
95  Jukti, Takko Aar Gappo            7            1974
96               Uski Roti          6.9            1970
97                    Mela          6.7            1948
98                  Dakhal          6.3            1982
99               Naya Daur          5.5            1978

[100 rows x 3 columns]

4) Write a python program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp .
    
Ans :-

In [24]:
from bs4 import BeautifulSoup
import requests

In [25]:
url = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')

In [26]:
soup = BeautifulSoup(url.content,'html.parser')

In [27]:
product_name = []

for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw"):
    product_name.append(i.text)
    
product_name

['Trendy Stylish Women Handbag',
 'Graceful Fashionable Women Handbags',
 'Classic Attractive Women Handbags',
 'Voguish Alluring Women Handbags',
 'Classic Fashionable Women Handbags',
 'FashionableLatest Women  handbag',
 'Fancy Modern Women Handbag',
 'Elite Fashionable Women Handbags',
 'Graceful Alluring Women Handbags',
 ' New Collections Of Garbage Handbags',
 'Classic Versatile Women Handbags',
 'Handbags',
 'Graceful Attractive Women Handbags',
 'Graceful Women Women Handbags ',
 'Styles Latest Women handbags',
 'Attractive Handbags',
 'Fashionable Women Handbag',
 'Classic Versatile Women Handbags',
 'Classic Versatile Women Handbags',
 'Ravishing Classy Women Handbags']

In [28]:
product_price = []

for i in soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 dLSsNI"):
    product_price.append(i.text)

product_price

['₹364',
 '₹570',
 '₹534',
 '₹242',
 '₹940',
 '₹85',
 '₹1392',
 '₹1349',
 '₹434',
 '₹734',
 '₹660',
 '₹8949',
 '₹450',
 '₹284',
 '₹1119',
 '₹481',
 '₹304',
 '₹749',
 '₹267',
 '₹566']

In [29]:
product_discounts = []

for i in soup.find_all('div',class_="Card__BaseCard-sc-b3n78k-0 iKnziG NewProductCard__DiscountRow-sc-j0e7tu-15 fpGaRM NewProductCard__DiscountRow-sc-j0e7tu-15 fpGaRM"):
    product_discounts.append(i.text)
    
product_discounts

['₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹42 discount on 1st order',
 '₹50 discount on 1st order',
 '₹15 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹50 discount on 1st order',
 '₹47 discount on 1st order',
 '₹50 discount on 1st order']

5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

Ans :-

In [30]:
from bs4 import BeautifulSoup
import requests

In [31]:
url = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [32]:
soup = BeautifulSoup(url.content,'html.parser')

In [33]:
table_content = soup.find('table',{'class':'table'})

In [34]:
data = table_content.find_all('tr')[0:20]

In [35]:
teams_matches_points_rating = []

for row in range(len(data)):
    table_row = []
    for rows in data[row].find_all('td'):
        table_row.append(rows.text.replace('\n',' '))
    teams_matches_points_rating.append(table_row)
    
teams_matches_points_rating[1:11]

[['1',
  '  New Zealand NZ ',
  '19',
  '2,316',
  '                             122                               '],
 ['2', '  England ENG ', '32', '3,793', '119'],
 ['3', '  Australia AUS ', '31', '3,475', '112'],
 ['4', '  India IND ', '38', '4,162', '110'],
 ['5', '  South Africa SA ', '31', '3,167', '102'],
 ['6', '  Pakistan PAK ', '30', '2,921', '97'],
 ['7', '  Bangladesh BAN ', '36', '3,350', '93'],
 ['8', '  Sri Lanka SL ', '35', '2,835', '81'],
 ['9', '  West Indies WI ', '36', '2,788', '77'],
 ['10', '  Afghanistan AFG ', '23', '1,562', '68']]

b) Top 10 ODI Batsmen along with the records of their team and rating.

Ans :-

In [36]:
from bs4 import BeautifulSoup
import requests

In [37]:
url = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [38]:
soup = BeautifulSoup(url.content,'html.parser')

In [39]:
table_content = soup.find('table',{'class':'table rankings-table'})

In [40]:
data = table_content.find_all('tr')[0:100]

In [41]:
batsmen_team_rating = []

for row in range(len(data)):
    table_row = []
    for rows in data[row].find_all('td'):
        table_row.append(rows.text.replace('\n',' '))
    batsmen_team_rating.append(table_row)
    
batsmen_team_rating[1:11]

[['                               1                            (0)   ',
  '        Babar Azam   ',
  '   PAK  ',
  ' 872 ',
  '                                   873 v England, 13/07/2021                             '],
 ['                                       2                                    (0)   ',
  ' Virat Kohli ',
  '  IND ',
  '811',
  '                                 911 v England, 12/07/2018                         '],
 ['                                       3                                    (0)   ',
  ' Ross Taylor ',
  '  NZ ',
  '794',
  '                                 841 v Bangladesh, 05/06/2019                         '],
 ['                                       4                                    (0)   ',
  ' Rohit Sharma ',
  '  IND ',
  '791',
  '                                 885 v Sri Lanka, 06/07/2019                         '],
 ['                                       5                                    (0)   ',
  ' Quinton de Kock ',
  '  SA ',
  '789',
  '                                 813 v Sri Lanka, 10/03/2019                         '],
 ['                                       6                                      (1) This player has moved up in the rankings since the previous rankings update   ',
  ' Jonny Bairstow ',
  '  ENG ',
  '775',
  '                                 796 v India, 26/03/2021                         '],
 ['                                       7                                      (1) This player has moved down in the rankings since the previous rankings update   ',
  ' Aaron Finch ',
  '  AUS ',
  '771',
  '                                 798 v England, 25/06/2019                         '],
 ['                                       8                                    (0)   ',
  ' Rassie van der Dussen ',
  '  SA ',
  '769',
  '                                 776 v Bangladesh, 20/03/2022                         '],
 ['                                       9                                    (0)   ',
  ' David Warner ',
  '  AUS ',
  '758',
  '                                 880 v Pakistan, 26/01/2017                         '],
 ['                                       10                                      (2) This player has moved up in the rankings since the previous rankings update   ',
  ' Imam-ul-Haq ',
  '  PAK ',
  '746',
  '                                 768 v South Africa, 02/04/2021                         ']]

c) Top 10 ODI bowlers along with the records of their team and rating.

Ans :-

In [43]:
from bs4 import BeautifulSoup
import requests

In [44]:
url = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [45]:
soup = BeautifulSoup(url.content,'html.parser')

In [46]:
table_content = soup.find('table',{'class':'table rankings-table'})

In [47]:
data = table_content.find_all('tr')[0:100]

In [48]:
bowlers_team_rating = []

for row in range(len(data)):
    table_row = []
    for rows in data[row].find_all('td'):
        table_row.append(rows.text.replace('\n',' ').replace('(6) This player has moved up in the rankings since the previous rankings update',' ').replace('(0)',' '))
    bowlers_team_rating.append(table_row)
    
bowlers_team_rating[1:11]

[['                               1                                ',
  '        Trent Boult   ',
  '   NZ  ',
  ' 733 ',
  '                                   770 v West Indies, 22/06/2019                             '],
 ['                                       2                                        ',
  ' Josh Hazlewood ',
  '  AUS ',
  '705',
  '                                 733 v England, 26/01/2018                         '],
 ['                                       3                                        ',
  ' Chris Woakes ',
  '  ENG ',
  '700',
  '                                 711 v Sri Lanka, 04/07/2021                         '],
 ['                                       4                                        ',
  ' Matt Henry ',
  '  NZ ',
  '687',
  '                                 691 v Bangladesh, 26/03/2021                         '],
 ['                                       5                                        ',
  ' Mujeeb Ur Rahman ',
  '  AFG ',
  '681',
  '                                 712 v Ireland, 24/01/2021                         '],
 ['                                       6                                        ',
  ' Jasprit Bumrah ',
  '  IND ',
  '679',
  '                                 841 v West Indies, 01/11/2018                         '],
 ['                                       7                                        ',
  ' Mehedi Hasan ',
  '  BAN ',
  '661',
  '                                 725 v Sri Lanka, 25/05/2021                         '],
 ['                                       8                                        ',
  ' Shakib Al Hasan ',
  '  BAN ',
  '657',
  '                                 717 v Zimbabwe, 05/11/2009                         '],
 ['                                       9                                          ',
  ' Adam Zampa ',
  '  AUS ',
  '650',
  '                                 650 v Pakistan, 29/03/2022                         '],
 ['                                       10                                        ',
  ' Rashid Khan ',
  '  AFG ',
  '650',
  '                                 806 v Pakistan, 21/09/2018                         ']]

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

Ans :-

In [49]:
from bs4 import BeautifulSoup
import requests

In [58]:
url = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [59]:
soup = BeautifulSoup(url.content,'html.parser')

In [60]:
table_content = soup.find('table',{'class':'table'})

In [65]:
data = table_content.find_all('tr')[0:12]

In [67]:
bowlers_team_rating = []

for row in range(len(data)):
    table_row = []
    for rows in data[row].find_all('td'):
        table_row.append(rows.text.replace('\n',' '))
    bowlers_team_rating.append(table_row)
    
bowlers_team_rating[1:11]

[['1',
  '  Australia AUS ',
  '29',
  '4,840',
  '                             167                               '],
 ['2', '  South Africa SA ', '28', '3,504', '125'],
 ['3', '  England ENG ', '30', '3,533', '118'],
 ['4', '  India IND ', '29', '2,890', '100'],
 ['5', '  New Zealand NZ ', '31', '3,018', '97'],
 ['6', '  West Indies WI ', '28', '2,478', '89'],
 ['7', '  Bangladesh BAN ', '12', '935', '78'],
 ['8', '  Pakistan PAK ', '26', '1,753', '67'],
 ['9', '  Ireland IRE ', '5', '240', '48'],
 ['10', '  Sri Lanka SL ', '5', '233', '47']]

b) Top 10 women’s ODI Batting players along with the records of their team and rating

Ans :-

In [82]:
url = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

In [83]:
soup =BeautifulSoup(url.content,'html.parser')

In [84]:
table_content = soup.find('table',{'class':'table rankings-table'})

In [85]:
data = table_content.find_all('tr')[0:100]

In [86]:
batting_players_team_rating = []

for row in range(len(data)):
    table_row = []
    for rows in data[row].find_all('td'):
        table_row.append(rows.text.replace('\n',' ').replace('This player has moved up in the rankings since the previous rankings update',' ').replace('This player has moved down in the rankings since the previous rankings update',' ').replace('(1)',' ').replace('(0)',' ').replace('(3)',' ').replace('(2)',' '))
    batting_players_team_rating.append(table_row)
    
batting_players_team_rating[1:11]

[['                               1                                    ',
  '        Laura Wolvaardt   ',
  '   SA  ',
  ' 740 ',
  '                                   741 v Australia, 22/03/2022                             '],
 ['                                       2                                            ',
  ' Beth Mooney ',
  '  AUS ',
  '726',
  '                                 734 v England, 03/02/2022                         '],
 ['                                       3                                        ',
  ' Meg Lanning ',
  '  AUS ',
  '718',
  '                                 834 v New Zealand, 24/02/2016                         '],
 ['                                       4                                        ',
  ' Natalie Sciver ',
  '  ENG ',
  '705',
  '                                 712 v India, 25/02/2019                         '],
 ['                                       5                                        ',
  ' Alyssa Healy ',
  '  AUS ',
  '703',
  '                                 776 v India, 21/09/2021                         '],
 ['                                       6                                            ',
  ' Mithali Raj ',
  '  IND ',
  '686',
  '                                 839 v Australia, 24/12/2004                         '],
 ['                                       7                                        ',
  ' Rachael Haynes ',
  '  AUS ',
  '684',
  '                                 713 v West Indies, 15/03/2022                         '],
 ['                                       8                                            ',
  ' Tammy Beaumont ',
  '  ENG ',
  '682',
  '                                 791 v India, 27/06/2021                         '],
 ['                                       9                                            ',
  ' Amy Satterthwaite ',
  '  NZ ',
  '681',
  '                                 756 v Australia, 02/03/2017                         '],
 ['                                       10                                        ',
  ' Smriti Mandhana ',
  '  IND ',
  '669',
  '                                 797 v England, 28/02/2019                         ']]

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

Ans :-

In [104]:
url = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

In [105]:
soup = BeautifulSoup(url.content,'html.parser')

In [106]:
table_content = soup.find('table',{'class':'table rankings-table'})

In [107]:
data = table_content.find_all('tr')[0:20]

In [108]:
allrounder_team_rating = []

for row in range(len(data)):
    table_row = []
    for rows in data[row].find_all('td'):
        table_row.append(rows.text.replace('\n',' ').replace('This player has moved up in the rankings since the previous rankings update',' ').replace('This player has moved down in the rankings since the previous rankings update',' ').replace('(1)',' ').replace('(0)',' ').replace('(3)',' ').replace('(2)',' '))
    allrounder_team_rating.append(table_row)
    
allrounder_team_rating[1:11]

[['                               1                                ',
  '        Ellyse Perry   ',
  '   AUS  ',
  ' 404 ',
  '                                   548 v West Indies, 11/09/2019                             '],
 ['                                       2                                        ',
  ' Natalie Sciver ',
  '  ENG ',
  '376',
  '                                 391 v New Zealand, 16/09/2021                         '],
 ['                                       3                                        ',
  ' Marizanne Kapp ',
  '  SA ',
  '359',
  '                                 419 v West Indies, 10/09/2021                         '],
 ['                                       4                                        ',
  ' Hayley Matthews ',
  '  WI ',
  '340',
  '                                 365 v India, 12/03/2022                         '],
 ['                                       5                                        ',
  ' Amelia Kerr ',
  '  NZ ',
  '335',
  '                                 339 v South Africa, 17/03/2022                         '],
 ['                                       6                                        ',
  ' Ashleigh Gardner ',
  '  AUS ',
  '278',
  '                                 278 v Bangladesh, 25/03/2022                         '],
 ['                                       7                                        ',
  ' Deepti Sharma ',
  '  IND ',
  '249',
  '                                 397 v South Africa, 09/10/2019                         '],
 ['                                       8                                        ',
  ' Jess Jonassen ',
  '  AUS ',
  '246',
  '                                 308 v West Indies, 11/09/2019                         '],
 ['                                       9                                            ',
  ' Katherine Brunt ',
  '  ENG ',
  '239',
  '                                 296 v Australia, 03/02/2022                         '],
 ['                                       10                                            ',
  ' Jhulan Goswami ',
  '  IND ',
  '217',
  '                                 308 v Australia, 02/02/2016                         ']]

7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

Ans :-

In [51]:
from bs4 import BeautifulSoup
import requests

In [52]:
url = requests.get("https://coreyms.com/")

In [53]:
soup = BeautifulSoup(url.content,'html.parser')

In [54]:
heading = []

for i in soup.find_all('a',class_="entry-title-link"):
    heading.append(i.text)
    
heading

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [55]:
date = []

for i in soup.find_all('time',class_="entry-time"):
    date.append(i.text)
    
date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [56]:
content = []

for i in soup.find_all('p'):
    content.append(i.text)
    
content

['Development, Design, DIY, and more',
 'November 19, 2019 by Corey Schafer Leave a Comment ',
 'In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…',
 'Filed Under: Development, Python Tagged With: gzip, shutil, zip, zipfile',
 'October 17, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…',
 'Filed Under: Development, Python Tagged With: data analysis, Data Science, stack overflow',
 'September 21, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…',
 'Filed Under: Development, Python Tagged With: asynchronous, concurrent.futures, multiprocessing, parallel, threading',
 'September 12, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…',
 'Filed Under: Development, Python Tagged With: asynchronous, concurrency, multiprocessing, threading',
 'September 3, 2019 by Corey Schafer Leave a Comment ',
 'Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube ',
 'Filed Under: General ',
 'August 6, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…',
 'Filed Under: Development, Python Tagged With: == vs is, equality, identity',
 'July 24, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…',
 'Filed Under: Development, Python Tagged With: standard library, subprocess',
 'May 1, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…',
 'VSCode on MacOS – https://youtu.be/06I63_p-2A4',
 'Timestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55',
 'Filed Under: Development, Python Tagged With: Development Environment, visual studio code, visual studios, vs code, vscode',
 'May 1, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…',
 'VSCode on Windows – https://youtu.be/-nh9rCzPJ20',
 'Timestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 ',
 'Filed Under: Development, Python Tagged With: Development Environment, visual studio code, visual studios, vs code, vscode',
 'April 24, 2019 by Corey Schafer Leave a Comment ',
 'In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…',
 'Filed Under: Development, Python Tagged With: common errors, common mistakes, functions, mutable default arguments',
 'Thank You! If you would like to have your name listed as a contributor and support the website, you can do so through my Patreon Page. I am extremely grateful for any support.',
 '©\xa02022 · CoreyMS · Corey Schafer']

In [57]:
video_code = []

for i in soup.find_all('iframe',class_="youtube-player"):
    video_code.append(i['src'])
    
video_code

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

Ans :-

In [58]:
from bs4 import BeautifulSoup
import requests

In [59]:
url = requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTMuMDY5ODI4MSwibG9uIjo3Ny41ODk2MDU0OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp6MFVtVFNJWXJqc1JtQkRYTTJ2V0t6cyIsInBsYWNlTmFtZSI6IkluZHJhIE5hZ2FyIn0seyJsYXQiOjEyLjkzMDc3MzUsImxvbiI6NzcuNTgzODMwMiwicGxhY2VJZCI6IkNoSUoyZGRsWjVnVnJqc1JoMUJPQWFmLW9ycyIsInBsYWNlTmFtZSI6IkpheWFuYWdhciJ9XQ==&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Indra%20Nagar,&locality=Jayanag')

In [60]:
soup = BeautifulSoup(url.content,'html.parser')

In [61]:
house_title = []

for i in soup.find_all('h2',class_="heading-6 flex items-center font-semi-bold m-0"):
    house_title.append(i.text)
    
house_title

['1 BHK Apartment  For Sale  In L In Hebbal',
 '3 BHK Flat  For Sale  In L&t Rain Tree Boulevard In Hebbal',
 '4 BHK Flat  For Sale  In L&t Rain Tree Boulevard In Hebbal',
 '2 BHK Apartment  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '3 BHK Flat  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '3 BHK Apartment  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '3 BHK Apartment  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '3 BHK Apartment  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '1 BHK Apartment  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '3 BHK Flat  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '2 BHK Apartment  For Sale  In Unique Signature In Sahakara Nagar',
 '2 BHK Flat  For Sale  In Unique Signature, Sahakara Nagar In 5th Cross Road',
 '4 BHK Apartment  For Sale  In L&t Raintree Boulevard, Byatarayanapura In Sahakar Nagar Ground',
 '3 BHK Flat  For Sale  In Apartment In Byatarayanapura',
 '3 BHK Flat  For Sale  In L&t Raintree Boulevard In Byatarayanapura',
 '2 BHK Apartment  For Sale  In Pyramid Greenwoods In Sabrinagar',
 '2 BHK Apartment  For Sale  In Samvriddhi Gardenia In Byatarayanapura',
 '3 BHK Apartment  For Sale  In Samvriddhi Gardenia In Byatarayanapura',
 '3 BHK Apartment  For Sale  In Samvriddhi Gardenia In Byatarayanapura',
 '3 BHK Flat  For Sale  In Samvriddhi Gardenia In Byatarayanapura',
 '3 BHK Apartment  For Sale  In Samvriddhi Gardenia In Byatarayanapura',
 '3 BHK Apartment  For Sale  In Samvriddhi Gardenia In Byatarayanapura',
 '3 BHK Apartment  For Sale  In Provident Welworth City In Marasandra Apartment Bus Stop',
 '2 BHK Apartment  For Sale  In Pyramid Greenwoods In Sahakar Nagar',
 '2 BHK Flat  For Sale  In Pyramid Greenwoods In Sahakar Nagar']

In [62]:
house_location = []

for i in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    house_location.append(i.text)
    
house_location

['L\xa0 Bellary Road, Byatarayanapura, Hebbal, Bangalore-560092, Karnataka, INDIA.',
 'Bellary Road, Byatarayanapura, Hebbal, Bangalore-560092, Karnataka, INDIA.',
 'Bellary Road, Byatarayanapura, Hebbal, Bangalore-560092, Karnataka, INDIA.',
 'L&T Raintree Boulevard\xa0 Bellary Rd, Shabhari Nagar, Byatarayanapura',
 'Near motherhood hospital',
 'L&T Raintree Boulevard\xa0 Bellary Rd, Shabhari Nagar, Byatarayanapura',
 'L&T Raintree Boulevard\xa0 Bellary Rd, Shabhari Nagar, Byatarayanapura',
 'L&T Raintree Boulevard\xa0 Bellary Rd, Shabhari Nagar, Byatarayanapura',
 'L&T Raintree Boulevard\xa0 Bellary Rd, Shabhari Nagar, Byatarayanapura',
 'bellary road',
 'Unique Signature\xa0 5th Cross, Indra Nagar, Sahakara Nagar, Bangalore, Karnataka, INDIA.',
 '5th Cross, Indra Nagar, Sahakara Nagar, Bangalore, Karnataka, INDIA.',
 'L&T Raintree Boulevard, Byatarayanapura\xa0 Bellary Rd, Shabhari Nagar, Byatarayanapura',
 'Bellary Rd Indra Nagar, Shabhari Nagar, near L&T Raintree Boulevard',
 'Bellary Rd, Shabhari Nagar, Byatarayanapura',
 'Pyramid Greenwoods\xa0 Pyramid Greenwoods, Ayappa Temple Road, Indra Nagar, Sahakar Nagar, Bengaluru, Karnataka 560092, India',
 'Samvriddhi Gardenia\xa0 Sahakar Nagar, Byatarayanapura, Indra Nagar, Sahakar Nagar, Bengaluru, Karnataka 560092, India',
 'Samvriddhi Gardenia\xa0 Sahakar Nagar, Byatarayanapura, Bengaluru, Karnataka 560092, India',
 'Samvriddhi Gardenia\xa0 Sahakar Nagar, Byatarayanapura, Bengaluru, Karnataka 560092, India',
 'Sahakar Nagar, Byatarayanapura, Bengaluru, Karnataka 560092, India',
 'Samvriddhi Gardenia\xa0 Sahakar Nagar, Byatarayanapura, Bengaluru, Karnataka 560092, India',
 'Samvriddhi Gardenia\xa0 Sahakar Nagar, Byatarayanapura, Bengaluru, Karnataka 560092, India',
 'Provident Welworth City\xa0 Doddaballapura Main Rd Marasandra Amanikere',
 'Pyramid Greenwoods\xa0 Pyramid Greenwoods, Ayappa Temple Road, Indra Nagar, Sahakar Nagar, Bengaluru, Karnataka 560092, India',
 'Pyramid Greenwoods, Ayappa Temple Road, Indra Nagar, Sahakar Nagar, Bengaluru, Karnataka 560092, India']

In [63]:
house_area_emi_price = []

for i in soup.find_all('div',class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
    house_area_emi_price.append(i.text.replace('Not under loan₹',' ').replace('Under Loan₹',' ').replace('₹','     ₹'))
    
house_area_emi_price

['  490 sqftBuiltup     ₹34,102/MonthEstimated EMI     ₹59.5 Lacs     ₹12,143 per sq.ft.',
 '  1,355 sqftBuiltup     ₹75,655/MonthEstimated EMI     ₹1.32 Crores     ₹9,742 per sq.ft.',
 '  2,500 sqftBuiltup     ₹1.38 Lacs/MonthEstimated EMI     ₹2.41 Crores     ₹9,640 per sq.ft.',
 '  1,316 sqftBuiltup     ₹91,703/MonthEstimated EMI     ₹1.6 Crores     ₹12,158 per sq.ft.',
 '  1,645 sqftBuiltup     ₹1.2 Lacs/MonthEstimated EMI     ₹2.1 Crores     ₹12,766 per sq.ft.',
 '  1,320 sqftBuiltup     ₹85,971/MonthEstimated EMI     ₹1.5 Crores     ₹11,364 per sq.ft.',
 '  1,645 sqftBuiltup     ₹1.15 Lacs/MonthEstimated EMI     ₹2 Crores     ₹12,158 per sq.ft.',
 '  1,320 sqftBuiltup     ₹91,703/MonthEstimated EMI     ₹1.6 Crores     ₹12,121 per sq.ft.',
 '  500 sqftBuiltup     ₹36,108/MonthEstimated EMI     ₹63 Lacs     ₹12,600 per sq.ft.',
 '  1,320 sqftBuiltup     ₹88,837/MonthEstimated EMI     ₹1.55 Crores     ₹11,742 per sq.ft.',
 '  1,332 sqftBuiltup     ₹57,314/MonthEstimated EMI     ₹1 Crore     ₹7,508 per sq.ft.',
 '  1,169 sqftBuiltup     ₹36,108/MonthEstimated EMI     ₹63 Lacs     ₹5,389 per sq.ft.',
 '  2,790 sqftBuiltup     ₹1.69 Lacs/MonthEstimated EMI     ₹2.95 Crores     ₹10,573 per sq.ft.',
 '  2,300 sqftBuiltup     ₹1.06 Lacs/MonthEstimated EMI     ₹1.85 Crores     ₹8,043 per sq.ft.',
 '  1,985 sqftBuiltup     ₹1.17 Lacs/MonthEstimated EMI     ₹2.05 Crores     ₹10,327 per sq.ft.',
 '  1,286 sqftBuiltup     ₹36,108/MonthEstimated EMI     ₹63 Lacs     ₹4,899 per sq.ft.',
 '  1,197 sqftBuiltup     ₹37,254/MonthEstimated EMI     ₹65 Lacs     ₹5,430 per sq.ft.',
 '  1,598 sqftBuiltup     ₹65,911/MonthEstimated EMI     ₹1.15 Crores     ₹7,196 per sq.ft.',
 '  1,900 sqftBuiltup     ₹65,911/MonthEstimated EMI     ₹1.15 Crores     ₹6,053 per sq.ft.',
 '  1,608 sqftBuiltup     ₹54,448/MonthEstimated EMI     ₹95 Lacs     ₹5,908 per sq.ft.',
 '  1,598 sqftBuiltup     ₹51,583/MonthEstimated EMI     ₹90 Lacs     ₹5,632 per sq.ft.',
 '  1,350 sqftBuiltup     ₹45,364/MonthEstimated EMI     ₹79.15 Lacs     ₹5,863 per sq.ft.',
 '  1,180 sqftBuiltup     ₹34,388/MonthEstimated EMI     ₹60 Lacs     ₹5,085 per sq.ft.',
 '  1,240 sqftBuiltup     ₹37,254/MonthEstimated EMI     ₹65 Lacs     ₹5,242 per sq.ft.',
 '  1,270 sqftBuiltup     ₹34,388/MonthEstimated EMI     ₹60 Lacs     ₹4,724 per sq.ft.']

9) Write a python program to scrape mentioned details from dineout.co.in :
    i) Restaurant name
    ii) Cuisine
    iii) Location
    iv) Ratings
    v) Image URL

Ans :-

In [64]:
from bs4 import BeautifulSoup
import requests

In [65]:
url = requests.get('https://www.dineout.co.in/delhi-restaurants')

In [66]:
soup = BeautifulSoup(url.content,'html.parser')

In [67]:
restaurants_name = []

for i in soup.find_all('div',class_="restnt-info cursor"):
    restaurants_name.append(i.text)
    
restaurants_name

['TamashaConnaught Place, Central Delhi',
 'LocalScindia House,Connaught Place, Central Delhi',
 'Unplugged CourtyardConnaught Place, Central Delhi',
 'The G.T. ROADM-Block,Connaught Place, Central Delhi',
 'Ministry Of BeerM-Block,Connaught Place, Central Delhi',
 'Connaught Clubhouse MicrobreweryConnaught Place, Central Delhi',
 "Chili's American Grill and BarM-Block,Connaught Place, Central Delhi",
 'The Junkyard CafeConnaught Place, Central Delhi',
 'QBAConnaught Place, Central Delhi',
 'Warehouse CafeConnaught Place, Central Delhi',
 'SandozConnaught Place, Central Delhi',
 'High 5 - Everyday Wholesale BarConnaught Place, Central Delhi',
 'Openhouse CafeConnaught Place, Central Delhi',
 'Farzi CafeConnaught Place, Central Delhi',
 'Out Of The Box CourtyardConnaught Place, Central Delhi',
 'Ardor 2.1 Restaurant and LoungeConnaught Place, Central Delhi',
 'Lord of the DrinksConnaught Place, Central Delhi',
 '38 BarracksM-Block,Connaught Place, Central Delhi',
 "Berco'sConnaught Place, Central Delhi",
 'Barbeque NationConnaught Place, Central Delhi',
 'My Bar SquareConnaught Place, Central Delhi']

In [68]:
restaurants_location = []

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    restaurants_location.append(i.text)
    
restaurants_location

['Connaught Place, Central Delhi',
 'Scindia House,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi']

In [69]:
restaurants_ratings = []

for i in soup.find_all('div',class_="restnt-rating rating-4"):
    restaurants_ratings.append(i.text)
    
restaurants_ratings

['4.2',
 '4',
 '4',
 '4.3',
 '4',
 '4.2',
 '4.3',
 '4.1',
 '4.3',
 '4.1',
 '4',
 '3.8',
 '4.1',
 '4.2',
 '4',
 '3.8',
 '4.2',
 '4.3',
 '4.3',
 '4.4',
 '3.8']

In [70]:
restaurants_image_url = []

for i in soup.find_all('img',class_="no-img"):
    restaurants_image_url.append(i['data-src'])
    
restaurants_image_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/y/p20941-15700828565d959028e9f28.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/r/w/p31397-164157705861d87a6224564.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/h/p/p20298-1447661865564991294ad1b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/e/p29906-16183962346076c44ac433d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/h/o/p420-15241335515ad86eaf373ce.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/6/s/m/p69146-163921872761b47e27e5f71.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/j/y/p19748-16474299906231c96621c58.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/y/y/p4199-164188203361dd21b1a3174.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/x/t/p83921-16017104805f782990b9b0c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/m/p221-16455303976214cd1d7a086.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/w/q/p19975-14634080035739d5832c089.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/q/p21171-1631359509613c92152f775.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/j/r/p752-15474495585c3c34d63c808.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/h/n/p95-16444959626205045ab0b43.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/m/i/p12709-15681189525d7798a8c5aa5.jpg?tr=tr:n-medium']

In [71]:
url = requests.get('https://www.dineout.co.in/delhi-restaurants?search_str=cuisines')

In [72]:
soup = BeautifulSoup(url.content,'html.parser')

In [73]:
cuisines = []

for i in soup.find_all('div',class_='restnt-info cursor'):
    cuisines.append(i.text)
    
cuisines

['The EmbassyConnaught Place, Central Delhi',
 'The Grill RoomThe Lalit New Delhi,Connaught Place, Central Delhi',
 'ZingThe Metropolitan Hotel,Connaught Place, Central Delhi',
 "Nando'sM-Block,Connaught Place, Central Delhi",
 'The Salt Cafe Kitchen & BarPreet Vihar, East Delhi',
 'AnglowKhan Market, Central Delhi',
 'La Vie PizzeriaKhan Market, Central Delhi',
 "Smokey's BBQ and GrillKhan Market, Central Delhi",
 'Raftaar - The High Speed Bar and LoungePunjabi Bagh, West Delhi',
 "Elma's BrasserieMehar Chand Market,Lodhi Colony, South Delhi",
 'PaparizzaHudson Lane, North Delhi',
 'DietliciouzMehar Chand Market,Lodhi Colony, South Delhi',
 'Tangy Flavour Multi Cuisine RestaurantLaxmi Nagar, East Delhi',
 'SambookasDDA Market Complex,Hudson Lane, North Delhi',
 'Mia BellaHauz Khas Village, South Delhi',
 'Unwind CafeAnsal Plaza Mall,Khel Gaon, South Delhi',
 'The Irish HouseEpicuria Food Mall,Nehru Place, South Delhi',
 'The Piano Man Jazz ClubSafdarjung Enclave Market,Safdarjung, South Delhi',
 'La Nonna PizzeriaHudson Lane, North Delhi',
 '3 IdiotssKailash Colony, South Delhi',
 'Roadhouse CafeGreater Kailash - 1, South Delhi']

In [74]:
cuisines_location = []

for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    cuisines_location.append(i.text)
    
cuisines_location

['Connaught Place, Central Delhi',
 'The Lalit New Delhi,Connaught Place, Central Delhi',
 'The Metropolitan Hotel,Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Preet Vihar, East Delhi',
 'Khan Market, Central Delhi',
 'Khan Market, Central Delhi',
 'Khan Market, Central Delhi',
 'Punjabi Bagh, West Delhi',
 'Mehar Chand Market,Lodhi Colony, South Delhi',
 'Hudson Lane, North Delhi',
 'Mehar Chand Market,Lodhi Colony, South Delhi',
 'Laxmi Nagar, East Delhi',
 'DDA Market Complex,Hudson Lane, North Delhi',
 'Hauz Khas Village, South Delhi',
 'Ansal Plaza Mall,Khel Gaon, South Delhi',
 'Epicuria Food Mall,Nehru Place, South Delhi',
 'Safdarjung Enclave Market,Safdarjung, South Delhi',
 'Hudson Lane, North Delhi',
 'Kailash Colony, South Delhi',
 'Greater Kailash - 1, South Delhi']

In [75]:
cuisines_rating = []

for i in soup.find_all('div',class_='restnt-rating rating-4'):
    cuisines_rating.append(i.text)
    
cuisines_rating

['4.2',
 '4.2',
 '3.9',
 '4.4',
 '4.3',
 '4.2',
 '4.3',
 '4.3',
 '4.1',
 '4.3',
 '4.4',
 '3.9',
 '4.3',
 '4.3',
 '3.9',
 '4.3',
 '4.3',
 '4.1',
 '3.9',
 '4.3']

In [76]:
cuisines_image_url = []

for i in soup.find_all('img',class_='no-img'):
    cuisines_image_url.append(i['data-src'])
    
cuisines_image_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/e/u/p456-14473237645644687422a28.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/h/o/p2872-1486443948589955acc29bb.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/f/w/p2904-145934966056fbe89c19a1f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/r/z/p16769-148714104258a3f8b2a654b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/h/e/p21912-1631945687614583d70deb1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/r/k/p52421-15496208925c5d569c5de87.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/h/c/p744-15799514875e2c257f9ba68.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/g/w/p19695-143745829155addf730aeb1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/r/g/p23721-15760498075df09c8f0f2c7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/c/y/p13171-164562402062163ad42ca6b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/b/e/p44599-164068882561caecb9e01ab.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/q/y/p4837-15656920305d52907edc23e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/d/t/p49724-15544574885ca7239082d9e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/t/t/p35669-15107274555a0bdf1f8758c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/w/i/p11263-15232530585acaff4215ca5.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/m/c/p40452-15810810585e3d61e2b9a56.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/z/r/p26889-150986613159feba930dd52.png?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/m/b/p20050-14442155665614fb0eefeea.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/i/a/p58686-15621274115d1c2c339820d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/o/p54701-1636970721619230e1ecc58.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/d/u/p29664-14829093275863668f8bbec.jpg?tr=tr:n-medium']

10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-plain-t-shirts .

Ans :-

In [156]:
from bs4 import BeautifulSoup
import requests

In [157]:
url = requests.get("https://www.bewakoof.com/women-plain-t-shirts")

In [158]:
soup = BeautifulSoup(url.content,'html.parser')

In [165]:
products_name_price = [] 

for i in soup.find_all('div',class_="productCardDetail"):
    products_name_price.append(i.text.replace('₹',' ₹'))
    
products_name_price[1:11]

['Upbeat Blue Side Cut T-shirt ₹ 299899 ₹279For TriBe Members ',
 "Women's Melange Half Sleeve Raglan T-Shirt ₹ 349499 ₹319For TriBe Members ",
 'Vax Yellow Contrast Neck Half Sleeves T-shirt ₹ 349799FEW LEFT ₹319For TriBe Members ',
 'Apricot Orange Round Neck 3/4th Sleeve T-Shirt ₹ 249399FEW LEFT ₹229For TriBe Members ',
 'Imperial Red V-Neck Varsity Rib T-shirt ₹ 249699 ₹229For TriBe Members ',
 'Ceylon Yellow Half Sleeve Relaxed Fit T-Shirt ₹ 249699 ₹229For TriBe Members ',
 "Women's Grey T-shirt ₹ 249449 ₹229For TriBe Members ",
 'Upbeat Blue Color Block T-shirt ₹ 399799 ₹369For TriBe Members ',
 'Feel Good Lilac Plus Size Colorblock T-shirt ₹ 499849 ₹459For TriBe Members ',
 "Women's Solid Casual Half Sleeve White Shirt ₹ 3491099FEW LEFT ₹319For TriBe Members "]

In [167]:
products_imageURL = [] 

for i in soup.find_all('img',class_="productImgTag"):
    products_imageURL.append(i['src'])
    
products_imageURL[1:11]

['https://images.bewakoof.com/t320/bachelor-button-side-cut-t-shirt-463560-1643559958-1.jpg',
 'https://images.bewakoof.com/t320/melange-ranglan-sleeve-tee-women-melange-ranglan-sleeve-tee-302633-1614076814.jpg',
 'https://images.bewakoof.com/t320/vax-yellow-contrast-neck-half-sleeves-t-shirt-333864-1638213470-1.jpg',
 'https://images.bewakoof.com/t320/apricot-orange-round-neck-3-4th-sleeve-t-shirt-241916-1636983999-1.jpg',
 'https://images.bewakoof.com/t320/imperial-red-v-neck-varsity-rib-t-shirt-272308-1638212484-1.jpg',
 'https://images.bewakoof.com/t320/ceylon-yellow-half-sleeve-relaxed-fit-t-shirt-316236-1638214566-1.jpg',
 'https://images.bewakoof.com/t320/meteor-grey-half-sleeve-t-shirt-232368-1637995365-1.jpg',
 'https://images.bewakoof.com/t320/bachelor-button-snow-white-jasmin-green-diagonal-color-block-t-shirt-463946-1643559601-1.jpg',
 'https://images.bewakoof.com/t320/orchid-petal-nimbus-cloud-wax-yellow-plus-size-colorblock-half-sleeve-t-shirt-454729-1640789965-1.jpg',
 'https://images.bewakoof.com/t320/women-s-solid-casual-half-sleeve-white-shirt-353223-1638214219-1.jpg']